
<section>
  <h2>Add Book</h2>
  <form action="/books" method="POST">
    <label for="title">Book Title</label>
    <input name='title' type='text' id='title'>

    <label for="genre">Genre</label>
    <input name='genre' type='text' id='genre'>

    <label for="description">Description</label>
    <textarea rows='10' cols='30' name='description' id='description'></textarea>

    <label for="coverURL">Cover Image</label>
    <input name='coverURL' type='url' id='coverURL'>

    <input type="submit" value="Submit">
  </form>
</section>
