<section>
  <h2>Add Book</h2>
  <form action="/authors" method="POST">
    <label for="first_name">First Name</label>
    <input name='first_name' type='text' id='first_name'>

    <label for="last_name">last_name</label>
    <input name='last_name' type='text' id='last_name'>

    <label for="bio">Bio</label>
    <textarea rows='10' cols='30' name='bio' id='bio'></textarea>

    <label for="portrait">Picture URL</label>
    <input name='portrait' type='url' id='portrait'>

    <input class='new' type="submit" value="Submit">
  </form>
</section>
