<section class='main-page'>
<div>
<a href='/authors'><img src="http://bradfleming.co.uk/wp-content/uploads/2012/07/author.gif" alt='authors'></a>
</div>
<div>
<a href='/books'><img src="http://www.mrsnelsons.com/sites/mrsnelsons.com/files/books.jpg" alt='books'></a>
</div>
</section>
  
