<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <img src='https://image.freepik.com/free-icon/books-stack-of-three_318-45543.png' alt="logo" height="75px" width='75px'>
      <h1> Galvanize Reads </h1>
    </header>
    <nav>
      <ul>
        <li><a href="/books">Books</a></li>
        <li><a href="/authors">Authors</a></li>
      </ul>
    </nav>
    <main>
    {{{body}}}
  </main>
  </body>
</html>
