<h1> List of Books </h1>
<h2> <a href="/books/add">Add Book </a></h2>

<section class='list'>
{{#each books}}
<h2><img src={{coverURL}} height='75px' width='75px' alt='cover'>{{title}}</h2>
<h3>Genre: {{genre}}</h3>

<p> {{description}} <p>
{{/each}}
</section>
