body {
  margin: 0px;
}

main {
  display: block;
  position: absolute;
  margin-top: 15%;
  margin-left: 15%;
  z-index: -1;

}
.main-page {
  display: flex;
  justify-content: space-around;
}

.author_pic {
  float:left;
  margin-right: 15px;
  margin-bottom: 15px;
  border: 1px solid $black;
}

h1 {
  @include primary-header-font;
}

h2 {
  @include secondary-header-font;
}

p {
  @include body-font;
}

a {
  text-decoration: none;
  color: $black;
  &:hover {
    color: $galvanize-primary
  }
}

input, textarea, label {
  display: block;
  margin: 10px;
}

.list {
  h2 {
    display: flex;
    align-items: inherit;
  }
}
