header {
  background-color: $dark-blue;
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  h1 {
    color: $white;
  }
  img {
    border: 2px solid black;
    border-radius: 50%;
    margin: 10px;
  }
  a {
    display: flex;
    align-items: center;
  }
}
h1 {
  display: inline;
}
