
ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    width: 12%;
    margin-top: 10%;
    height: 80vh;
    position: fixed;
    overflow: auto;
}

li a {
    display: block;
    color: $black;
    text-align: center;
    padding: 20px 0;
    margin-left: 2%;
    text-decoration: none;
}

li a:hover {
    background-color: $dark-blue;
}
